{% autoescape off %}
Hello {{ user.get_full_name|default:user.email }},

You're receiving this email because you requested a password reset for your account at Winda.

Please go to the following page and choose a new password:

{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

Your username, in case you've forgotten: {{ user.get_username }}

If you didn't request this password reset, you can safely ignore this email.

Security Tips:
- Make sure to use a strong password (at least 8 characters with letters and numbers)
- Don't share your password with anyone
- Use a unique password for each of your online accounts

Need help? Contact our support team at support@winda.co.ke

Thanks for using Winda!

The Winda Team
{% endautoescape %}